<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <style>
        #app {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
        }

        .container {
            margin-top: 2rem;
        }

        .sad {
            float: right;
            padding-right: 1rem;
            padding-bottom: 1.3rem;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="sad">
            <a th:href="@{/}"
               class="btn btn-outline-danger btn-rounded"
               type="button"
               style="margin-left: 16px"
            >
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </div>
        <div class="container-fluid">
            <div>
                <h2 class="pt-4 pb-3"></h2>
            </div>
        </div>
        <div class="container-fluid text-center">
            <form method="post" th:action="@{/users/save}" th:object="${user}" style="max-width: 500px; margin: 0 auto">
                <div>
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="email" th:field="*{email}" placeholder="Email" class="form-control" required minlength="8" maxlength="45"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="text" th:field="*{firstName}" placeholder="Name" class="form-control" required minlength="2" maxlength="45"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="text" th:field="*{lastName}" placeholder="Surname" class="form-control" required minlength="5" maxlength="45"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="text" th:field="*{password}" placeholder="Password" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button

                                class="btn btn-outline-success btn-rounded"
                                type="submit"
                                style="margin-left: 16px"
                        >
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>  
                </div>
            </form>
        </div>
    </div>
</div>
<script>

</script>
</body>

</html>