<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <style>
        #app {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
        }
        .container {
            margin-top: 2rem;
        }
        .sad {
            float: right;
            padding-right: 1rem;
            padding-bottom: 1.3rem;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="sad">
            <a th:href="@{/users/create}"
               class="btn btn-outline-success btn-rounded"
               type="button"
               style="margin-left: 16px"
            >
                <i class="fa fa-plus"></i> Add User
            </a>
        </div>
        <div class="container-fluid text-center">
            <div>
                <h2 class="pt-4 pb-3"></h2>
            </div>
            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col" colspan="2">Settings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${listUsers}">
                        <tr scope="row">
                            <td>[[${user.id}]]</td>
                            <td>[[${user.firstName}]]</td>
                            <td>[[${user.lastName}]]</td>
                            <td>[[${user.email}]]</td>
                            <td> <a th:href="@{'/users/edit/'+${user.id}}" class="btn btn-outline-info btn-rounded" ><i class="fa fa-edit"></i></a></td>
                            <td><a th:href="@{'/users/delete/'+${user.id}}" class="btn btn-outline-danger btn-rounded" ><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>